.textBox {
    -fx-background-color: #0ca9e7;
    -fx-background-radius: 70;
    -fx-font-size: 15px;
    -fx-text-fill: #0a0808;
    -fx-font-family: "Roboto Light";
}

.txtUserName{
    -fx-text-fill: #f4f4f4;
}


